body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(255, 201, 135);
    background-image: url("../images/2.png")
}
h1{
    color: rgb(193, 76, 76);
    background-color:blanchedalmond;
}
h2{
    color: rgb(193, 76, 76);
    background-color: blanchedalmond;
}
ul{
    background-color:blanchedalmond;
}